header {
    height: 200px;
}
.header-section h1 > a {
    font-size: 6rem;
}
.header-section h2 {
    font-size: 2.2rem;
}
.nav-list-item {
    font-size: 1.8rem;
}
.footer-section p {
    font-size: 1.4rem;
}
.img-container {
    width: 200px;
    height: 200px;
}
.section-secondary-paragraph {
    font-size: 3rem;
}
.section-secondary-container {
    font-size: 2rem;
    line-height: 3rem;
}
.contact-site-main > .contact-section, .about-site-main > .about-section {
    font-size: 2rem;
}
.site-main, .contact-site-main, .about-site-main {
    min-height: calc(100vh - 300px);
}