* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(33, 33, 41);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
}

::selection{
    background-color: #fcbb6d;
    color: #fff;
}

header {
    width: 100%;
    height: 140px;
    background-color: rgb(254, 254, 254);
    display: flex;
    justify-content: center;
    color: rgb(33, 33, 41);
}

header .header-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6% 0% 10%;
}

.header-section__heading {
    /* flex: 1 1 0%; */
    height: 100%;
}

.header-section__heading h1>a {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 900;
    font-size: 6rem;
    letter-spacing: 0.02rem;
    font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    text-decoration-skip-ink: auto;
    color: rgb(33, 33, 41);
}

a {
    text-decoration: none;
}

.header-section__heading h1>a:active {
    color: #fcbb6d;
}

.header-section__heading h2 {
    display: inline-block;
    margin-top: 0.5rem;
    /* margin-bottom: 0.5rem; */
    font-size: 1.8rem;
    font-weight: 700;
}

.header-section__nav {
    text-align: right;
}

.header-section__nav .nav-list-item {
    list-style: none;
    font-size: 1.8rem;
    margin: 1.2rem 0px;
}

.nav-list-item__ref {
    color: rgb(159, 159, 163);
    font-weight: 700;
}

.nav-list-item__ref:focus, .nav-list-item__ref:hover{
    color:  rgb(33, 33, 41);
}

.nav-list-item__ref:active {
    color: #fcbb6d;
}