.header-section h1 > a {
    font-size: 4rem;
}
.header-section h2 {
    font-size: 1.8rem;
    padding-top: 0;
    padding-bottom: 1rem;
    align-self: center;
}
.nav-list-item {
    font-size: 1.5rem;
}
.header-section__nav .nav-list {
    padding-bottom: 1.5rem;
}
.img-container {
    width: 150px;
    height: 150px;
}
.site-main > .main-container {
    padding: 3.5rem 11vw;
}
.contact-site-main > .contact-section, .about-site-main > .about-section {
    padding: 0rem 11vw;
    font-size: 1.8rem;
}
.section-secondary {
    padding-bottom: 2rem;
}